<!-- budget.html -->
<div class="page" data-name="budget">
    <div class="page-content">
      <div class="block">
        <h3>Budget123 Page</h3>
        <p>This is the budget page content.</p>
      </div>
    </div>
  </div>
  